@import "../zz_partials/aa_functions";
@import "../zz_partials/ab_mixins";
@import "../zz_partials/ac_normalize";




@import "aa_abstract/aa_variables";
@import "aa_abstract/ab_fonts";
@import "ab_base/aa_base";
@import "ab_base/ab_animations";
@import "ab_base/ac_typography";
@import "ab_base/ad_utilities";
@import "../zz_partials/aa_components/aa_buttons";
@import "../zz_partials/aa_components/ab_composition";
@import "../zz_partials/aa_components/ac_feature-box";
@import "../zz_partials/aa_components/ad_card";
@import "../zz_partials/aa_components/ae_popup";
@import "../zz_partials/aa_components/af_bg-video";
@import "../zz_partials/aa_components/ag_story";
@import "../zz_partials/aa_components/ah_form";
@import "../zz_partials/aa_components/ai_footer";
@import "../zz_partials/aa_components/aj_navigation";
@import "../zz_partials/ab_layouts/aa_header";
@import "../zz_partials/ab_layouts/ab_grid";


.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  @include respond(tab-port-tab-land)
  {
    padding: 20rem 0;

  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url(../03_IMAGES/ZA_PART_ONE/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port-tab-land)
  {
    padding: 15rem 0;

  }

}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port-tab-land)
  {
    padding: 20rem 0 10rem 0;

  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;


  @include respond(tab-port-tab-land)
  {
    padding: 10rem 0 ;

  }


}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port-tab-land)
  {
    padding: 10rem 0;

  }
}

.book {
  background-image: linear-gradient(105deg,
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 50%,
          transparent 50%) ,
  url(../03_IMAGES/ZA_PART_ONE/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 65%,
            transparent 65%) ,
    url(../03_IMAGES/ZA_PART_ONE/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port-tab-land) {
    background-image: linear-gradient(to right,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 100%),
    url(../03_IMAGES/ZA_PART_ONE/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port-tab-land) {
      width: 100%;
    }
  }
}