*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing:inherit;
}
html{
  font-size: 62.5%;
}

/*utlise inheritance */
body{
  font-family: "lato",sans-serif;
  font-weight: 400;
/*  font-size: 16px;*/
  /* Times default */
  line-height: 1.7;
  color:$GreyFontColor;
  padding:3rem;
  box-sizing: border-box;

}